.container {
  width: 1160px;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 30px;
  margin-top: 60px;
}
.grid-container-item {  
  box-shadow: 10px 10px 10px 10px lightgray;
  position: relative;
  width: 270px;
}
.grid-container-item img {
  width: inherit;
  height: auto;
}
.grid-container-item h4 {
  padding: 20px 20px;
}
.home-item-text p {
  margin: 0px 20px;
  padding: 5px;
}
.home-item-text p:first-child {
  text-decoration: line-through;
  opacity: 0.5;
}
.home-item-text p:nth-child(3) {
  opacity: 0.5;
}
.home-item-text a {
  text-decoration: none;
  padding: 10px;
  position: absolute;
  background: rgb(24, 201, 24);
  color: white;
  bottom: 10px;
  margin-left: 170px;
  border-radius: 5px;
}
.center-text {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: 180px;
  margin-left: 210px;
  background: rgb(192, 47, 71);
  color: white;
}
.top-text {
  width: 80px;
  position: absolute;
  bottom: 420px;
  margin-left: 190px;
  background: green;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
.top-icon {
  width: 20px;
  height: 20px;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  bottom: 410px;
  text-align: center;
  cursor: pointer;
}
.arrow-left-icon {
  width: 45px;
  height: 45px;
  font-size: 35px;
  color: white;
  background: rgb(24, 201, 24);
  border-radius: 50%;
  position: absolute;
  bottom: 190px;
  margin-left: -25px;
  text-align: center;
  cursor: pointer;  
  opacity: 0.8;
}
.arrow-right-icon {
  width: 45px;
  height: 45px;
  font-size: 35px;
  color: white;
  background: rgb(24, 201, 24);
  border-radius: 50%;
  position: absolute;
  bottom: 190px;
  margin-left: 250px;
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
}
