.container {
  width: 1200px;
  display: grid;
  grid-template-columns: 380px 380px 380px;
  gap: 30px;
  margin: 60px 0px 0px 70px;
}
.col-4 {
  width: 380px;
  height: 380px;
  position: relative;
  background: #007bff;
}
.col-4 img {
  width: inherit;
  object-fit: cover;
}

.container-item-hover {
  display: none;
}
.container-item-hover span {
  position: absolute;
  bottom: 65px;
  left: 25px;
}
.container-item-hover p {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  bottom: 15px;
  left: 25px;
}
.container-item-hover i {
  font-size: 50px;
  position: absolute;
  bottom: 300px;
  margin-left: 310px;
  text-align: center;
  color: orangered;
}
.col-4:hover .container-item-hover {
  display: block;
  color: white;
  opacity: 0.9;
  transition: .3s all ease;
}
.col-4:hover img {
  /* filter: blur(7px); */
  opacity: 0.3;
  transition: .3s all ease;
}
