ul {
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar-logo img{
    height: 65px;
}
#navbar{    
    border: 1px solid black;
}
.container{
    padding: 20px;
}
.row{
    align-items: center;
}

.navbar-navbar ul li a{
    color: black;
    padding: 5px 12px;
    font-size: 20px;   
}
.navbar-navbar ul li a:hover{
    border-bottom: 4px solid rgb(83, 187, 83);
}
.navbar-navbar li ul{
    color: black;
    margin-top: 20px;
    border: 1px solid red;
    display: none;
}
.navbar-navbar li:hover ul{
    display: block;
}
button{
    color: white;
    background: rgb(9, 119, 9);  
}

sup{
    background-color: rgb(25, 150, 25);
    border-radius: 50%;    
    color: white;
}
